In [1]:
import pandas as pd

In [2]:
folder = 'C:/Users/oryan/Documents/weave-proj/data'

In [5]:
df = pd.read_csv(f'{folder}/available-targets-all-secs.csv', index_col = 0).reset_index().drop(columns = 'index')

In [19]:
df_prims = df[['Names', 'Prim_RA', 'Prim_DEC']].assign(names = df.Names.apply(lambda x: x + '_1')).rename(columns = {'Prim_RA' : 'RA', 'Prim_DEC' : 'Dec'})
df_secs = df[['Names','Sec_RA', 'Sec_DEC']].assign(names = df.Names.apply(lambda x: x + '_2')).rename(columns = {'Sec_RA' : 'RA', 'Sec_DEC' : 'Dec'})

In [20]:
df_comb = pd.concat([df_prims, df_secs]).sort_values('names')

In [21]:
df_comb

       Names          RA        Dec       names
37    Arp101  241.132250  14.819136    Arp101_1
37    Arp101  241.118167  14.782103    Arp101_2
17    Arp105  167.803750  28.711781    Arp105_1
17    Arp105  167.804583  28.696225    Arp105_2
18    Arp106  183.899292  28.177728    Arp106_1
..       ...         ...        ...         ...
35    Pair18  206.212483  13.927621    Pair18_2
27  UGC10650  255.028542  23.131547  UGC10650_1
27  UGC10650  255.029000  23.127511  UGC10650_2
33   UGC7905  190.955833  54.904561   UGC7905_1
33   UGC7905  190.953875  54.896161   UGC7905_2

[98 rows x 4 columns]

In [23]:
df_red = df[['Names','Redshift','observable','when_best','best_airmass','time_rises']]

In [28]:
df_exp = df_comb.merge(df_red, on = 'Names', how = 'left').drop(columns = ['Names'])[['names','RA','Dec','Redshift','observable','when_best','best_airmass','time_rises']].assign(exp_time = '')

In [29]:
df_exp.to_csv(f'{folder}/available-targets-expanded.csv')